# Lab 1 - Fundamentals of Python I

## Standard Datatypes

The 4 main standard data types in python are: `int`, `float`, `str` and `bool`

In [1]:
type(100), type(2.5), type('Hello World'), type(True)

(int, float, str, bool)

Python is a dynamically typed language (i.e. data types are automatically inferred at runtime)

In [2]:
x = 42
x

42

## Numerical Operations

Built-in operators include: `+`, `-`, `*`, `/`, `**` (exponent), `%` (modulo), `//` (integer division)

In [3]:
3 % 2 # modulo (remainder)

1

In [4]:
9**2 # exponent

81

_Note: the result of any calculation that involves floats or divison is a float_

In [5]:
58.9 // 10 # also known as a floor division (divide and round down)

5.0

In [6]:
int(58.9//10) # type casting to an int

5

Operators can be combined with assignment

In [7]:
x = 5

x += 6 # equivalent to x = x + 6
x

11

Order of operations follows traditional operator precedence (https://en.wikipedia.org/wiki/Order_of_operations)

In [8]:
2 + 3 * 4 # outputs 14, not 20

14

In [9]:
(2 + 3) * 4 # enforcing intended order using brackets

20

## String Concatenation

`+` can be used to concat strings

In [10]:
'Data ' + 'Mining'

'Data Mining'

But both must be strings, otherwise you must type cast to `str`

In [11]:
course = 'CSEN'
code = 911

course + str(code)

'CSEN911'

## Boolean and Comparisons

Boolean true and false in python are written: `True`, `False`

Can be combined with the logical operators: `and`, `or`, `not`

In [12]:
print(True and False)
print(True or False)
print(not False)

False
True
True

In [13]:
x = True
y = False

x and not y

True

Comparisons use the following operators: `==` (equal), `!=` (not equal), `<` (less than), `>` (greater than), `<=` (less than or equal), `>=` (greater than or equal)

In [14]:
a = 2
b = 4

print(a == b)
print(a != b)
print(a < b)
print(a > b)
print(a <= b)
print(a >= b)

False
True
True
False
True
False

Numeric types can be compared together

In [15]:
42 == 42.0

True

Be careful when comparing equality with floats, due to floating point percision errors

Optional reading: [StackOverflow: What is the best way to compare floats for almost-equality in Python?](https://stackoverflow.com/questions/5595425/what-is-the-best-way-to-compare-floats-for-almost-equality-in-python)

In [16]:
# 0.1 added 10 times
total = 0.1 + 0.1 + 0.1 + 0.1 + 0.1 + 0.1 + 0.1 + 0.1 + 0.1 + 0.1
print(total)

print(total == 1.0)

0.9999999999999999
False

Strings can also be compared using comparison operators

Note: `<`,`>` comparison works by using [lexicographical ordering](https://stackoverflow.com/questions/4806911/string-comparison-technique-used-by-python) based on the characters' [Unicode value](https://docs.python.org/3/reference/expressions.html#id19)

In [17]:
'abc' == 'abc'

True

In [18]:
'2019Q1' < '2020Q2'

True

String comparison is case-sensitive by default

In [19]:
'XYZ' == 'xyz'

False

Strings should be typecasted to int/float before comparing with a numeric value

In [20]:
'123' == 123

False

In [21]:
int('123') == 123

True

`None` is the Python equivalent of `null` in Java

In [22]:
billing_address = None

# note the use of 'is' as opposed to '=='
billing_address is None

True

**Exercise Break**

Solve Exercise(s): 1 & 2

## Python Collections & Data Structures

Python's native data structures are: `list`, `tuple`, `dict` and `set`

In [23]:
lst = [10, 20, 30, 40, 50, 60] # square brackets: a list (mutable)
tup = (10, 20, 30, 40, 50, 60) # round brackets: a tuple (immutable)
dct = {"January": 1, "Feburary": 2, "March": 3} # curly braces with keys: a dictionary/dict (mutable)

### Lists

In [24]:
lst = [10, 20, 30, 40, 50, 60] # square brackets: a list (mutable)

Getting the length of an array (number of elements it contains)

In [25]:
len(lst)

6

Accessing elements in arrays/tuples/sets can be done using position indexing

In [26]:
lst[0]

10

In [27]:
lst[-1] # getting the last element using negative indexing

60

Assigning a new value to a specific array position

In [28]:
lst[0] = 999
lst

[999, 20, 30, 40, 50, 60]

Python also natively supports slicing using the format: `array[start:stop:step]`

Let's try accessing the first 3 elements

In [29]:
lst[:3] # start is zero by default, so it can be omitted; and the stop index is always excluded

[999, 20, 30]

Accessing from the 4th element till the end

In [30]:
lst[3:]

[40, 50, 60]

Getting every other element

In [31]:
lst[::2]

[999, 30, 50]

We can add elements to the array using the `append` instance function

In [32]:
lst.append(70)
lst

[999, 20, 30, 40, 50, 60, 70]

`+` operator can be used to concat arrays

In [33]:
lst + [100, 200, 300]

[999, 20, 30, 40, 50, 60, 70, 100, 200, 300]

`*` operator can be used to repeat arrays

In [34]:
[1,2] * 10

[1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2]

Note: assignment never copies data; like Java/C, you pass on a pointer

In [35]:
a = [1,2,3,4]
b = a
b.append(5)
print('Is b the same object as a?', a is b)
print('original array:         ', a)
print('array we assigned to b: ', b)

Is b the same object as a? True
original array:          [1, 2, 3, 4, 5]
array we assigned to b:  [1, 2, 3, 4, 5]

In [36]:
a = [1,2,3,4]
# use the copy instance method to copy the list instead
b = a.copy()
b.append(5)
print('Is b the same object as a?', a is b)
print('original array:         ', a)
print('array we assigned to b: ', b)

Is b the same object as a? False
original array:          [1, 2, 3, 4]
array we assigned to b:  [1, 2, 3, 4, 5]

Collections can be nested

As an example, if the following 3x3 matrix is stored in a variable called `m`

|     |     |     |
| --- | --- | --- |
| 1   | 2   | 3   |
| 4   | 5   | 6   |
| 7   | 8   | 9   |

Specific values can be indexed using the pattern `m[row][column]`

|           |           |           |
| --------- | --------- | --------- |
| `m[0][0]` | `m[0][1]` | `m[0][2]` |
| `m[1][0]` | `m[1][1]` | `m[1][2]` |
| `m[2][0]` | `m[2][1]` | `m[2][2]` |

In [37]:
m = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
m

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [38]:
m[0][1] # first row, second column

2

**Exercise Break**

Solve Exercise(s): 3 & 4

### Tuples

In [39]:
tup = (10,20,30,40,50,60)

Tuples (and strings) can be sliced and indexed like lists.

In [40]:
tup[-1] # last element

60

In [41]:
tup[1:3]

(20, 30)

In [42]:
tup[::-1] # reversing a list/tuple/string using slicing with negative step

(60, 50, 40, 30, 20, 10)

Unlike lists, tuples are **immutable**. Meaning, tuples are fixed (i.e. no appending, deleting or assigning) after creation.

Attempting to assign/append/delete elements throws an error.

_Note: ints, floats, strings, tuples and sets are all examples of immutable data types._

In [43]:
# uncomment the below line and run it to see what happens
# tup[0] = 99

Tuples content can be indirectly modified though. Any mutable object in the tuple can be changed freely, since the 'pointer' stored in the tuple at creation remains unchanged.

In [44]:
c = ('Favourite Colors', ['Blue', 'Red', 'Black'])
c[1].append('White')
c

('Favourite Colors', ['Blue', 'Red', 'Black', 'White'])

Tuples can be **unpacked** over variables (as long as there are as many variables as there are elements in the tuple). Functions can return multiple values using tuples.

In [45]:
rows, cols = (1000,20)

### Dictionaries

In [46]:
months = {"January": 1, "Feburary": 2, "March": 3}

Indexing (accessing an element) is done in dictionaries using the key

In [47]:
months["January"]

1

Assigning a value to a key (if it doesn't exist, it gets created)

In [48]:
months["April"] = 4
months

{'January': 1, 'Feburary': 2, 'March': 3, 'April': 4}

Deleting a key (along with its value) can be done using the `del` statement

In [49]:
months["Mai"] = 5
print("Before deletion: ", months)

del months["Mai"]
print("After deletion: ", months)

Before deletion:  {'January': 1, 'Feburary': 2, 'March': 3, 'April': 4, 'Mai': 5}
After deletion:  {'January': 1, 'Feburary': 2, 'March': 3, 'April': 4}

**Exercise Break**

Solve Exercise(s): 5 & 6

### Sets

Useful for getting the unique values of a list/tuple

In [50]:
colors = ["White", "Blue", "Silver", "Blue", "Black", "Red", "Red", "Green"]

set(colors)

{'Black', 'Blue', 'Green', 'Red', 'Silver', 'White'}

Python's `set` supports many set operations such as union, intersection, difference, etc. but are outside the scope of this tutorial. See [python's documentation on sets](https://docs.python.org/3/tutorial/datastructures.html#sets) if interested.

**Exercise Break**

Solve Exercise(s): 7 & 8